<a href="https://colab.research.google.com/github/Jyothipindi07/Python/blob/main/data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#list
#append
y=['apple','banana','orange','grapes','banana']
y.append("lemon")
print(y)

#insert
y=['apple','banana','orange','grapes','banana']
y.insert(3,"cherry")
print(y)

#extend
v=["apple","banana","cherry"]
y=["mango","pine"]
v.extend(y)
print(v)

#pop
y=['apple','banana','orange','grapes','banana']
y.pop(2)
print(y)

#clear
y=['apple','banana','orange','grapes','banana']
y.clear()
print(y)

#remove
y=['apple','banana','orange','grapes','banana']
y.remove("banana")
print(y)

#copy
y=['apple','banana','orange','grapes','banana']
y.copy()
print(y)

#count
y=['apple','banana','orange','grapes','banana']
x=y.count("banana")
print(x)

#index
y=['apple','banana','orange','grapes','banana']
y.index("banana")
print(y)

['apple', 'banana', 'orange', 'grapes', 'banana', 'lemon']
['apple', 'banana', 'orange', 'cherry', 'grapes', 'banana']
['apple', 'banana', 'cherry', 'mango', 'pine']
['apple', 'banana', 'grapes', 'banana']
[]
['apple', 'orange', 'grapes', 'banana']
['apple', 'banana', 'orange', 'grapes', 'banana']
2
['apple', 'banana', 'orange', 'grapes', 'banana']

In [2]:
#tuple
#count
a=(1,2,3,4,5,6,7,4)
x=a.count(2)
print(x)

#index
a=(1,2,3,4,5,6,7,4)
x=a.index(5)
print(x)

1
4

In [8]:
#dict
x={"name":"radha","age":19}
print(x.keys())
print(x.values())
print(x.items())
print(x)
print(type(x))


#clear
x={"name":"radha","age":19}
x.clear()
print(x)

#copy
x={"name":"radha","age":19}
x.copy()
print(x)

#get
x={"name":"radha","age":19}
y=x.get("name")
print(y)

#pop
x={"name":"radha","age":19}
x.pop("age")
print(x)

#popitem
x={"name":"radha","age":19,"course":"ADS"}
x.popitem()
print(x)

#update
x={"name":"radha","age":19,}
x.update({"course":"ADS"})
print(x)

dict_keys(['name', 'age'])
dict_values(['radha', 19])
dict_items([('name', 'radha'), ('age', 19)])
{'name': 'radha', 'age': 19}
<class 'dict'>
{}
{'name': 'radha', 'age': 19}
radha
{'name': 'radha'}
{'name': 'radha', 'age': 19}
{'name': 'radha', 'age': 19, 'course': 'ADS'}

In [12]:
#sets
#add
x={"apple","banana","cherry"}
x.add("orange")
print(x)

#clear
x={"apple","banana","cherry"}
x.clear()
print(x)

#copy
x={"apple","banana","cherry"}
x.copy()
print(x)

#difference
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.difference(y)
print(z)

#pop
x={"apple","banana","cherry"}
x.pop()
print(x)

#remove
x={"apple","banana","cherry"}
x.remove("banana")
print(x)

{'cherry', 'apple', 'orange', 'banana'}
set()
{'cherry', 'apple', 'banana'}
{'cherry', 'banana'}
{'apple', 'banana'}
{'cherry', 'apple'}